$font-size: 11px;
$match-height: 89px;
$match-spacing: 70px;
$match-width: 161px;
$border-size: 1px;
$border-radius: 2px;
.fimg {
    height: 25px;
    width: 25px;
    border: 1px solid #B7C0CD;
    border-radius: 25px 25px;
    margin-top: 5px
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.theme {
    height: 100%;
    width: 100%;
    position: absolute;
}

.bracket {
    padding: 30px;
    margin: 5px;
}

.bracket {
    display: flex;
    flex-direction: row;
    position: relative;
}

.column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-around;
    align-content: center;
}

.match {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: $match-width;
    max-width: $match-width;
    height: $match-height;
    margin: $match-spacing / 2 $match-spacing $match-spacing / 2 0;
    font-size: $font-size;
    .match-top {
        border-radius: 8px 8px 0px 0px;
        border-color: #979797;
        background-color: #EDF0F2;
    }
    .match-bottom {
        border-radius: 0px 0px 8px 8px;
        border-color: #979797;
    }
    .team {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70%;
        border: $border-size solid #B7C0CD;
        ;
        position: relative;
        span {
            padding-left: $font-size / 2;
            &:last-child {
                padding-right: $font-size / 2;
            }
        }
        .score {
            margin-left: auto;
        }
        &:first-child {
            margin-bottom: $border-size * -1;
        }
    }
}

.match-lines {
    z-index: -1;
    display: block;
    position: absolute;
    top: -384%;
    bottom: 0;
    margin-top: ($border-size - 1) * -1;
    right: $border-size * -1;
    .line {
        background: #979797;
        position: absolute;
        left: 0px;
        border: 1px solid #979797;
        &.one {
            height: $border-size;
            width: ($match-spacing / 2);
        }
        &.two {
            height: ($match-height + $match-spacing) / 2 + $border-size;
            width: $border-size;
            left: ($match-spacing / 2) - $border-size;
        }
    }
    &.alt {
        left: (($match-spacing / 2))* -1;
    }
}

.match:nth-child(even) .match-lines .line.two {
    transform: translate(0, -100%);
}

.column:first-child .match-lines.alt {
    display: none;
}

.column:last-child .match-lines {
    display: none;
    &.alt {
        display: block;
    }
}

.column:nth-child(2) {
    .match-lines .line.two {
        height: ($match-height + $match-spacing) + $border-size * 2;
    }
}

.column:nth-child(3) {
    .match-lines .line.two {
        height: ($match-height + $match-spacing) * 2 + $border-size * 3;
    }
}

.column:nth-child(4) {
    .match-lines .line.two {
        height: ($match-height + $match-spacing) * 4 + $border-size * 5;
    }
}

.column:nth-child(5) {
    .match-lines .line.two {
        height: ($match-height + $match-spacing) * 8 + $border-size * 10;
    }
}

.column:nth-child(6) {
    .match-lines .line.two {
        height: ($match-height + $match-spacing) * 12 + $border-size * 16;
    }
}

.column:nth-child(7) {
    .match-lines .line.two {
        height: ($match-height + $match-spacing) * 18 + $border-size * 20;
    }
}